@page "/addviewpoint/{cid}"
@using ClassLibraryDAL
@using ClassLibraryModel
<link rel="stylesheet" href="/css/style.css" />


<PageTitle>ViewPoint Registration for @cid</PageTitle>
<div class="lngfrm">
    <EditForm Model="viewPointModel" OnSubmit="SaveViewpoint">
        <h3 class="text-center">ADD VIEW POINT INFORMATION</h3>
        <div class="row">
            <input type="text" @bind-value="viewPointModel.VP_Name" placeholder="Viewpoint's Name..." class="col-3" required />
            <input type="text" @bind-value="viewPointModel.Vp_detail_Eng" placeholder="Viewpoint's Detail (ENGLISH)" class="col-4" required />
            <input type="text" @bind-value="viewPointModel.Vp_detail_Urdu" placeholder="Viewpoint's Detail (URDU)" class="col-4" required />
            <button type="submit" class=" btn btn-success col-1">SAVE</button>
        </div>
    </EditForm>
</div>
<p class="text-danger">@msg</p>
<h4>VIEW POINT'S INFORMATION</h4>
<div class="tble">
    <table class="table table-bordered">
        <thead>
            <tr class="row">
                <th class="col-2">NAME</th>
                <th class="col-1">CODE</th>
                <th class="col-3">DETAIL (ENGLISH)</th>
                <th class="col-3">DETAIL (URDU)</th>
                <th class="col-1">ACTION</th>
                <th class="col-2">More...</th>
            </tr>
        </thead>
        @foreach (var item in viewPointsList)
        {
            <tr class="row">
                <td class="col-2">@item.VP_Name</td>
                <td class="col-1">@item.City_id</td>
                <td class="col-3">@item.Vp_detail_Eng</td>
                <td class="col-3">@item.Vp_detail_Urdu</td>
                <td class="col-1">
                    <button class="btn btn-outline-danger" @onclick="(()=>DeleteViewPoint(item.Vp_id))">
                        DELETE
                    </button>
                </td>
                <td class="col-2">
                    <a href="addviewpointimage/@item.Vp_id" class="btn btn-outline-primary">ADD IMAGES</a>
                </td>
            </tr>
        }
    </table>
</div>




@code {
    [Parameter]
    public string? cid{ get; set; }
    private string? msg { get; set; }
    private ViewPointModel viewPointModel { get; set; } = new ViewPointModel();

    private List<ViewPointModel> viewPointsList = new List<ViewPointModel>();
    private void SaveViewpoint()
    {
        viewPointModel.City_id = int.Parse(cid);
        int i = ViewPointDAL.SaveViewPoint(viewPointModel);
        if (i == 1)
        {
            msg = "Saved Successfully...";
            GetViewPoints();
        }
        else
        {
            msg = "Error Saving...";
        }
    }
    protected override void OnInitialized()
    {
        GetViewPoints();
    }
    private void GetViewPoints()
    {
        viewPointsList = ViewPointDAL.GetViewpoints();
    }
    private void DeleteViewPoint(int id)
    {
        int i = ViewPointDAL.DeleteViewPoint(id);
        if (i == 1)
        {
            msg = "Successfully Deleted...";
            GetViewPoints();
        }
        else
        {
            msg = "Deletion Error...";
        }
    }
}
