@page "/addservicedetails/{sub_cat_id}"
@*parent child communiction in blazor server6.0*@
@using ClassLibraryDAL
@using ClassLibraryModel
<h3 class="text-center">SERVICE #@sub_cat_id DETAILS</h3>
<EditForm Model="serviceDetails" OnSubmit="SaveServiceDetails">
    <label>Enter service detail title</label>
    <input type="text" @bind-value="serviceDetails.SD_Title" required/>
    <label>Enter Price</label>
    <input type="text" @bind-value="serviceDetails.SD_Price" required />
    <label>Enter Quantity</label>
    <input type="text" @bind-value="serviceDetails.SD_Quantity" required />
    <label>Enter unit</label>
    <input type="text" @bind-value="serviceDetails.SD_Unit" required />
    <button type="submit">Save</button>
</EditForm>
<p>@msg</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
    </thead>
    @foreach (var item in serviceDetailsList)
    {
        <tr>
            <td>@item.SD_Title</td>
            <td>@item.SD_Price</td>
            <td>@item.SD_Quantity</td>
            <td>@item.SD_Unit</td>
            <td>
                <button @onclick="(()=>DeleteServiceSubCategory(item.SD_ID))">Delete</button>
            </td>
        </tr>
    }
</table>
@code {
    [Parameter]
    public string? sub_cat_id { get; set; }
    private string? msg { get; set; }
    ServiceDetailsModel serviceDetails = new ServiceDetailsModel();
    private List<ServiceDetailsModel> serviceDetailsList = new List<ServiceDetailsModel>();
    private void SaveServiceDetails()
    {
        serviceDetails.Sub_Cat_ID = int.Parse(sub_cat_id);
        int i = ServiceDetailsDAL.SaveServiceDetails(serviceDetails);
        if (i == 1)
        {
            msg = "Add View Point Image Succefully";
            GetServiceDetails();
        }
        else
        {
            msg = "Error while saving View Point Image";
        }
    }
    protected override void OnInitialized()
    {
        GetServiceDetails();
    }
    private void GetServiceDetails(){
        serviceDetailsList = ServiceDetailsDAL.GetServiceDetails();
    }
    private void DeleteServiceSubCategory(int id)
    {
        int i = ServiceDetailsDAL.DeleteServiceSubCategory(id);
        if (i == 1)
        {
            msg = "Service Sub Category deleted successfully";
            GetServiceDetails();
        }
        else
        {
            msg = "Error while deleting Service Sub Catergoryt";
        }
    }
}
